WEBAPP_ADDRESS="192.168.100.225"
WEBAPP_PORT="5000"
WEBAPP_HOOK="create_transaction"
LOCAL_PORT="8000"

# This raspi is connected to this location id
LOCATION_ID=1

# This raspi has these vehicle codes
VEHICLE_CODE_1=MT1
VEHICLE_CODE_2=MT2

# For printer
VENDOR_ID=
PRODUCT_ID=

# Select raspi pin for buttons
BUTTON_PIN_1=17
BUTTON_PIN_2=18